/**
 * COMPONENTS (BLOCKS)
 * All components, non master layout, should be individually 
 * classed and styled here.
 */






/**
 * The .table table :)
 */
.table {}






/**
 * BUTTON
 */
.button {
  display: inline-block;
  text-align: center;
  padding: 5px 8px;
}





