/**
 * FONT IMPORTS
 */
// Go here...




/**
 * FONT SETTINGS
 */
$base-font-size: 16px;
body {
  font-size: $base-font-size;
}





/**
 * FONT VARIABLES
 */
$font__heading: sans-serif;
$font__subheading: sans-serif;
$font__body: Helvetica, sans-serif;
$font__script: sans-serif;






/**
 * FONT MIXINS
 */
 
// EM CONVERTOR
@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}

// HEADING FONT
@mixin headingFont {
  font-family: $font__heading;
  letter-spacing: 1px;
}


