/**
 * VARIABLES
 */





/**
 * COLORS ********
 */

// Global
$color__core-background: white;

// Basics
$color__white: #fff;

// Brand
$color__brand--primary: #1bafa9;
$color__brand--alt: #fc903c;







