<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Builders Starter Kit</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->

        <link rel="stylesheet" href="css/main.css">
        
        <!-- Modernizr disabled until needed: -->
        <!-- <script src="js/vendor/modernizr-2.8.3.min.js"></script> -->
        
    </head>
    <body>
    
    <header class="header" id="js__header">
        <div class="outer-container">
            <div class="header__nav-link" id="js__nav-controller">
                <a href="#">(nav)</a>
            </div>
            <div class="header__logo">
                <a href="/">Logo</a>
            </div>
        </div>
    </header>
    
    <nav class="nav">
        <ul>
            <li class="nav__item">
                <a href="#">Link a</a>
            </li>
            <li class="nav__item">
                <a href="#">Link b</a>
            </li>
            <li class="nav__item">
                <a href="#">Link</a>
            </li>
        </ul>
    </nav>
    
    <div class="main outer-container"> <!-- MAIN -->
