/**
 * FONT IMPORTS
 */



/**
 * FONT VARIABLES
 */
$font__heading: sans-serif;
$font__subheading: sans-serif;
$font__body: Helvetica, sans-serif;
$font__script: sans-serif;



/**
 * FONT MIXINS
 */

// HEADING FONT
@mixin headingFont {
  font-family: $font__heading;
  letter-spacing: 1px;
}





/**
 * COLORS
 */

// Basics
$color__white: #fff;

// Brand
$color__brand--primary: #1bafa9;
$color__brand--alt: #fc903c;



