/**
 * GRID & BREAKPOINTS
 */
@mixin breakpoint($class) {
  @if $class == tn {
    @media (max-width: $gridTiny) { @content; }
  }
  @else if $class == xs {
    @media (max-width: $gridSmall - 1px) { @content; }
  }
  @else if $class == sm {
    @media (min-width: $gridSmall) { @content; }
  }
  @else if $class == md {
    @media (min-width: $gridMedium) { @content; }
  }
  @else if $class == lg {
    @media (min-width: $gridLarge) { @content; }
  }
  @else if $class == xl {
    @media (min-width: $gridExtraLarge) { @content; }
  }
  @else {
    @warn "Breakpoint mixin supports: tn, xs, sm, md, lg, xl";
  }
}





/**
 * UNCOLUMN
 */
@mixin uncolumn() {
  width: auto;
  float: none;
  padding-left: inherit;
  padding-right: inherit;
}





/**
 * UNLIST
 */
@mixin unlist {
  list-style: none;
  margin: 0;
  padding: 0;
}
