/**
 * VARIABLES
 */






/**
 * COLORS
 */

$coreWhite: #fff;
$brandBlue: blue;






/**
 * GRID BREAKPOINTS
 */
$gridTiny: 480px;
$gridSmall: 768px;
$gridMedium: 992px;
$gridLarge: 1200px;
$gridXtraLarge: 1400px;
