/**
 * GLOBAL STYLES ACCROSS ALL LAYOUTS AND TEMPLATES
 * General styles only.
 */

// Border Box Them All :)
* { 
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



/**
 * IMAGES
 */
img {
   max-width: 100%;
   height: auto;
   vertical-align: middle;
}





/**
 * HEADINGS
 */
h1, h2, h3, h4 {
  // text-transform: uppercase;
}





/**
 * LISTS ul/li
 */
 ul {
  @include unlist();
 }







/**
 * BROWSERUPGRADE
 */
.browserupgrade {
  text-align: center;
  padding: 50px;
}
