/**
 * MASTER LAYOUT
 * Layouts style the over-all theme of the site and
 * the header and footer. Template specific layouts such
 * as home page or content page are styled as individual
 * templates in the templates folder.
 */
body {
  min-width: 320px;
  min-height: 100%;
  background: $color__core-background;
}





/**
 * LAYOUT SPECIFIC VARIABLES
 */
$header-height: 70px;






/**
 * HEADER
 */
.header {
  background: $color__brand--primary;
  height: $header-height;
}





.header__logo {
  float: left;
  margin: 0;
  line-height: $header-height;
  font-weight: normal;
  font-size: em(32px);
  
  a {
    color: $color__white;
  }
}








/**
 * CONTENT-MAIN
 */
.content-main {}









/**
 * FOOTER
 */
.footer {
  background: $color__brand--primary;
  margin-top: 30px;
  padding: 20px 0;
}





/**
 * SECTIONS AND ASIDE
 */
.section {}

.section--has-aside {
  
  @include breakpoint(sm) {
    @include span(8);
  }
}

.aside {
  
  @include breakpoint(sm) {
    @include span(4 last);
    border-left: 1px solid $color__brand--alt;
  }
}
