/**
 * MASTER LAYOUT
 * Layouts style the over-all theme of the site and
 * the header and footer. Template specific layouts such
 * as home page or content page are styled as individual
 * templates in the templates folder.
 */
body {
  min-width: 320px;
  min-height: 100%;
  background: $color__core-background;
}





/**
 * LAYOUT SPECIFIC VARIABLES
 */
$header-height: 70px;






/**
 * HEADER
 */
.header {
  background: $color__brand--primary;
  height: $header-height;
}





.header__logo {
  float: left;
  color: $color__white;
  margin: 0 15px;
  line-height: $header-height;
  font-weight: normal;
  font-size: em(32px);
}








/**
 * MAIN
 */
.main {
  padding: $mainContentPadding;
  @include noFirstLastMargin();
}









/**
 * FOOTER
 */
.footer {
  background: $color__brand--primary;
  margin-top: 30px;
  padding: 20px 0;
}
