/**
 * MASTER LAYOUT
 */
body {
   min-width: 320px;
}





/**
 * HEADER
 */
.header {
  background: $color__brand--primary;
  padding: 15px 0;
}

.header__logo {}





/**
 * NAV
 * Initially controls mobile nav slider, then desktop nav
 */
.nav {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  background-color: $color__brand--primary;
  color: $color__white;
  -webkit-transform: translate(-250px, 0);
  transform: translate(-250px, 0);
  overflow-y: auto;
}

// On nav open
.nav-is-open {
  
  .nav {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  
  .header, .main, .footer {
    -webkit-transform: translate(250px, 0);
    transform: translate(250px, 0);
  }
  
}

.nav, .header, .main, .footer {
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out
}


.nav__item {
  // @include span(4);
  // &:last-child{@include span(4 last);}
  padding: 15px;
}




/**
 * MAIN
 */
.main {
  padding: $mainContentPadding;
  @include noFirstLastMargin();
}










/**
 * FOOTER
 */
.footer {
  padding: 15px 0;
}







/**
 * BROWSERUPGRADE
 */
.browserupgrade {
  text-align: center;
  padding: 50px;
}
