/**
 * MASTER LAYOUT
 */
body {
   min-width: 320px;
}





/**
 * HEADER
 */
.header {
  background: tomato;
}






/**
 * MENU NAV
 */
.header-nav {
  @include nest();
}

.header-nav__item {
  @include span(4);
  &:last-child{@include span(4 last);}
  padding: 15px;
}




/**
 * MAIN
 */
.main {}










/**
 * FOOTER
 */
.footer {
  padding: 15px 0;
}







/**
 * BROWSERUPGRADE
 */
.browserupgrade {
  text-align: center;
  padding: 50px;
}
